.nav-item {
  flex: 1;
}

.nav-item div {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 0%;
  padding: 0 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  transition: 0.3s height ease-in-out;
}

.nav-item:hover ul {
  height: 100%;
}

li a {
  color: black;
  font-size: 12px;
}
